# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Prisma
/prisma/dev.db
/prisma/migrations/
/src/generated/prisma

# Build output (если будешь собирать в dist)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Optional lock files (если не хочешь их коммитить)
/package-lock.json
/yarn.lock

